# name: Docker Artifact Pipeline

# on:
#   workflow_dispatch:

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v5

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Build Docker image
#         run: |
#           docker build -t my-app:artifact .

#       - name: Save image as tar
#         run: |
#           docker save my-app:artifact -o my-app.tar

#       - name: Upload artifact
#         uses: actions/upload-artifact@v4
#         with:
#           name: docker-image
#           path: my-app.tar

#   test-image:
#     runs-on: ubuntu-latest
#     needs: build

#     steps:
#       - name: Download artifact
#         uses: actions/download-artifact@v4
#         with:
#           name: docker-image

#       - name: Load Docker image
#         run: |
#           docker load -i my-app.tar

#       - name: Verify image exists
#         run: docker images

name: Docker Artifacts Pipeline

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
  
      - name: Build a Docker image
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: my-app:artifact
          outputs: type=docker,dest=my-app.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: my-app.tar

  test-image:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          docker load -i my-app.tar

      - name: Verify image exists
        run: docker images
