name: CI for Python project with Docker
on: workflow_dispatch
jobs:
  Build-Docker-image-and-push:
    environment: production
    uses: ./github/workflows/docker-build.yaml
    with:
      push: ${{ github.ref == 'refs/heads/master' }}