name: CI for Python project with Docker
on: workflow_dispatch
jobs:
  Build-Docker-image-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Loging to Docker Hub
        uses: docker/login-actions@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Docker QEMU
        uses: docker/setup-qemu=action@v3
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: my-app:latest