name: CI for Python project with Docker
on: workflow_dispatch
jobs:
  Build-Docker-image-and-push:
    runs-on: ubuntu-latest
    envirnonment: production
    steps:
      - uses: actions/checkout@v5
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Set up Docker QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/my-app:latest, ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}
      - name: Build
        if: github.ref != 'refs/heads/master'
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: ${{ secrets.DOCKER_USERNAME }}/my-app:latest, ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}
