name: CI for Python project with Docker
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/docker-build.yaml
    with:
      push: ${{ github.ref == 'refs/heads/master' }}
    secrets: inherit